/* src/Components/Header.css */
header {
    background-color: #333; /* Warna biru gelap */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Bayangan halus */
    padding: 16px; /* Padding untuk ruang di dalam header */
    position: relative;
}

.container {
    max-width: 1200px; /* Lebar maksimum untuk konten */
    margin: 0 auto; /* Pusatkan konten */
    display: flex; /* Gunakan flexbox untuk tata letak */
    justify-content: flex-start; /* Rata kiri */
    align-items: center; /* Rata tengah secara vertikal */
}

.text-white {
    color: white; /* Warna teks putih */
}

.text-2xl {
    font-size: 1.5rem; /* Ukuran font besar */
}

.font-bold {
    font-weight: bold; /* Teks tebal */
}

/* Responsif */
@media (max-width: 768px) {
    .text-2xl {
        font-size: 1.25rem; /* Ukuran font lebih kecil di perangkat kecil */
    }
}
